{% extends "main.html" %} {% block content %} {% include "header.html" %}

<div class='flash'>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
</div>
<!-- title -->
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <h1>New Catalog Item</h1>
            <hr>
        </div>
    </div>
    <!-- category list -->
    <div class="container">
        <div class="col-md-6 padding-top padding-left col-md-offset-1">
            <form action="{{ url_for('newItem')}}" method="post">
                <!-- New Catalog item form -->
                <div class="form-group">
                    <!-- name input -->
                    <label for="item_name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Name of the item">
                    <br>
                    <!-- description input -->
                    <label for="desctiption">Description</label>
                    <textarea id="description" class="form-control" rows="3" name="description" placeholder="Description of the item"></textarea>
                    <br>
                    <!-- category input -->
                    <label for="category_Id">Category:</label>
                    <select class="form-control" name="category_id">
                        <option value="" disabled selected>Choose a category</option>
                        {% for category in categories %}
                        <option value="{{category.id}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <!-- submit button -->
                    <button type="submit" class="btn btn-success" id="submit" type="submit">
                        Create
                    </button>
                    <a href="{{url_for('showCatalog')}}" class="btn btn-default">Cancel</a>
                </div>
            </form>
            <br>
            <br>
        </div>
    </div>

{% endblock %}